.dailyActivity {
  background-color: #fbfbfb;
  width: 835px;
  border-radius: 5px;
}

.dailyActivity > h2 {
  font-size: 15px;
  margin-left: 32px;
  padding-top: 24px;
}

.recharts-legend-wrapper {
  font-size: 15px;
  right: 20px !important;
  top: -30px !important;
}

.custom-tooltip {
  background: #e60000;
  text-align: center;
  color: white;
  left: 10px !important;
  padding: 2px;
}
