.horizontalHeader {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 15px 160px 15px 30px;
  align-items: center;
  height: 91px;
  box-shadow: 0 8px 8px -4px #5a6062;
}

.horizontalHeader > p {
  color: white;
  font-size: 24px;
}

.horizontalHeader > img {
  width: 178px;
  height: 60px;
}
