.profile {
  margin-left: 200px;
  margin-top: 75px;
}

.graphics {
  display: flex;
}

.activities {
  display: flex;
  justify-content: space-between;
  width: 835px;
  margin-top: 25px;
}

.cards {
  margin-top: 12px;
  margin-left: 50px;
}
